<div class="navbar navbar-background noise">
    <a class="navbar-text navbar-button-logo"><img src="\assets\Image (1).png" class="logo-image">FlipTracker</a>
    <a class="navbar-text navbar-button">Info</a>
    <a class="navbar-text navbar-button">Favorites</a>
    <a class="navbar-text navbar-button">History</a>
    <span class="navbar-search"><input type="text" placeholder="Search.." class="actual-navbar-search"><img src="\assets\3917132.png" class="search-image"></span>
    <a class="navbar-text right-navbar-button">Logout</a>
</div>
